* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.full{
  margin: auto;
  height: 100%;
  width: 40vw;
  position: relative;
}
.full img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
}
section{
  margin: auto;
  height: 100%;
  width: 40vw;
 
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  /* background-color: blueviolet; */
  padding: 5px 5px;
  /* border-bottom: 1px solid black; */
}

.insta-logo {
  height: 6vh;
  width: 75%;
object-fit: cover;
   object-position: center; 
  /* background-color: red; */
}

.insta-logo img {
  height: 100%;
  width: 100%;
  margin: 8px;
}

.nav-right {
  width: 25%;
  display: flex;
}

.icons {
  padding: 0 5px;
}

.nav-icons .icons {
  font-size: 1.5rem;
}

#fullheight {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* background-color: red; */
  display: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.yt{

 /* height: 5px;
  width: 5px;
  background-color: lightseagreen;*/
position: relative;
}



.yt::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  bottom: 5px;
  right: 0;
  left: 80px;
  border: 2px solid white;
  background: blue;

}

.storiesContainer {
  height: 15vh;
  /* background-color: bisque; */
  padding: 5px 10px;
  align-items: center;
  border-bottom: 1px solid rgba(101, 99, 99, 0.424);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

}

.storiesContainer::-webkit-scrollbar {
  display: none;
}

.story {
  height: 7rem;
  /* background-color: aliceblue; */
  width:7rem;
  border-radius: 50%;
  background: linear-gradient(orange, red, purple, blue, yellow);
  padding: 5px;
  margin-right: 15px;
  margin-top:5px;
  margin-bottom:5px;
  display: inline-block;
}

.story img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
   object-position: center; 
}

.rendom-users {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  width: 40vw;
  /* background-color: blueviolet; */
  padding: 5px 5px;
}

#heart{
  color: white;
  font-size: 140px;
  position: absolute;
  top: 50%;
  left: 50%;  
   transform: translate(-50%,-50%) scale(0); 
  opacity: 0.8;

} 
#bheart{
  color:gray;
  
}
.usename{
  padding-right: 127px;
}
.user-name {
  display: flex;
  justify-content: center;
  align-items: center;

}

.name {
  margin-left: 22px;
  font-size:1rem;
}

.dot {
  width: 25px;
  /* background-color: red; */
  height: 4.5vh;
  margin: 0;
}



.profile-pic {
  height: 34px;
    /* background-color: aliceblue; */
    width: 34px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 5px 0;
}

.profile-pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.post {
  height: 50vh;
  background-color: coral;
  position: relative;
}

.post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
   object-position: center; 
}

.detail-con {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  /* background-color: blueviolet; */
  padding: 5px 5px;
  align-items: center;
}

.leftconicon{
  font-size: 1.2rem;
  margin-right: 5px;
}

.media-all {
  margin-top: 5px;
}

.bottom-bar {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  position: fixed;
  border-top: 1px solid rgba(101, 99, 99, 0.424);
  top: 95vh;
  margin: auto;
  width: 40vw;
  left: 9;
}

.bottom-bar span a {
  text-decoration: none;
  color: black;
}

.bottom-bar span a i {
  font-size: 60px;
  font-weight: 700;
}


@media screen and (max-width: 768px) {
 
 .full{
  width: 100%;
     left:0;
 }
  section {
      width: 100%;

  }

  .bottom-bar {
      width: 100%;
  }
}
