* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 40vw;
    margin: auto;
    height: 100%;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    /* background-color: blueviolet; */
    padding: 5px 5px;
    /* border-bottom: 1px solid black; */
}

.insta-logo {
    height: 7vh;
    width: 144px;
    padding-top: 0.7rem;
    font-size: 1rem;
}



.nav-right {
    width: 25%;
}


.profile {
    height: 20vh;

    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.left-profile {
    width: 35%;
}

.propic {
    height: 80px;
    /* background-color: aliceblue; */
    width: 80px;
    border-radius: 50%;
    border: 3px solid gray;
    margin-right: 5px;
}

.left-profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.right-profile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 65%;
}

.hendelinfo {
    margin: 0 15px;
}

.profile-options {
    height: 9vh;
    padding: 2px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.btn {
    text-align: center;
    border-radius: 6px;
    background: #dadadaca;
    padding: 5px 15px;
    font-size:1rem;
}

.highlights {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5px;
}

.unkown {
    display: flex;
    align-items: center;
    height: 7vh;
    border-bottom: 1px solid #dadadaca;
}

.left-unkown,
.right-unkown {
    width: 50%;
    text-align: center;

}

.left-unkown i,
.right-unkown i {
    font-size: 20px;
    font-weight: 400;
}
.mypost{
    height:50vh;
    border:2px solid rgba(101, 99, 99, 0.424);
}
.bottom-bar {
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    position: fixed;
    top: 95vh;
    width: 40vw;
    border-top: 1px solid rgba(101, 99, 99, 0.424);
}
.bottom-bar span a{
    text-decoration: none;
    color: black;
}
.bottom-bar span a i {
    font-size: 80px;
    font-weight: 700;
}





@media screen and (max-width: 1000px) {
    section{
        width: 100%;
    }
    .bottom-bar{
        width: 100%;
        }
}
